@use "../../common/style" as *;

.container {
  @include ui-form;

  .register-form {
    position: relative;
    height: 60%;

    .go-login-btn {
      @include ui-button;
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .register-form {
      .go-login-btn {
        top: 10px;
        left: 10px;
      }
    }
  }
}
