@use "../../common/style" as *;

.container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $background-color;
  color: $light-color;
  gap: 20px;
  position: relative;

  .logout-btn {
    @include ui-button;
    align-self: end;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .welcome-container {
    text-align: center;
    display: flex;
    flex-direction: column;

    .hello-user {
      font-size: 24px;
    }

    .application-btn {
      @include ui-button;
      align-self: center;
      margin-top: 30px;
    }
  }
}

.application-container {
  @include ui-form;

  .title {
    margin-top: 20px;
  }

  .input-container {
    width: 50%;
  }

  .send-btn {
    margin: 20px 0;
  }

  .checkbox-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    font-size: 14px;
  }
}

.congratulation-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: $background-color;
  color: $light-color;

  .logout-btn {
    @include ui-button;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .congratulation-message {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 50px;
    text-align: center;
  }

  .application-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 20px;
    border: 2px solid $button-color;
    padding: 20px;
    border-radius: 14px;

    .info-item:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
      border: 1px solid $light-color;
      padding: 0 10px;
    }

    .info-item:nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
      border: 1px solid $light-color;
    }

    .info-item:nth-child(3) {
      grid-area: 1 / 3 / 2 / 4;
      border: 1px solid $light-color;
    }

    .info-item:nth-child(4) {
      grid-area: 2 / 3 / 3 / 4;
      border: 1px solid $light-color;
    }

    .info-item:nth-child(5) {
      grid-area: 3 / 2 / 4 / 3;
      color: $dark-color;
      border: 2px solid $dark-color;
      border-radius: 14px;
      padding: 10px;
      margin-top: 40px;
    }

    .processing {
      background-color: $light-color;
    }

    .on-agreed {
      background-color: orange;
    }

    .ready {
      background-color: greenyellow;
    }

    .rejected {
      background-color: red;
      color: $light-color !important;
    }

    .issued {
      background-color: gray;
    }

    .info-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      padding: 0 10px;
      font-size: 14px;
    }
  }
}

@media (max-width: 520px) {
  .container {
    .logout-btn {
      top: 20px;
      right: 20px;
    }

    .welcome-container {
      margin: 10px;

      .hello-user {
        font-size: 18px;
      }
    }
  }

  .application-container {
    .input-container {
      width: 60%;
    }
  }

  .congratulation-container {
    .logout-btn {
      top: 20px;
      right: 20px;
    }

    .congratulation-message {
      font-size: 18px;
    }

    .application-info-container {
      margin: 10px;

      .info-item {
        text-align: center;
        margin: 0 -10px;
      }
    }
  }
}

@media (max-height: 500px) {
  .application-container {
    height: 100%;

    .application-form {
      margin-bottom: 20px;
    }
  }

  .congratulation-container {
    height: 100%;

    .logout-btn {
      top: 20px;
      right: 20px;
    }
  }
}
