<div class="container">
  <form
    class="login-form"
    [formGroup]="loginForm"
  >
    <h1 class="title">Кибердайн</h1>

    <div class="input-container">
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        formControlName="email"
      />

      <div
        *ngIf="loginForm.get('email')?.invalid &&
        loginForm.get('email')?.touched"
        class="error-message"
      >
        <span *ngIf="loginForm.get('email')?.errors?.['required']">Email обязателен</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']">Введите корректный email</span>
      </div>
    </div>

    <div class="input-container">
      <label for="password">Пароль</label>
      <input
        type="password"
        id="password"
        formControlName="password"
      />

      <div
        *ngIf="loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched"
        class="error-message"
      >
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Пароль обязателен</span>
        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Минимум 6 символов</span>
      </div>
    </div>

    <button
      class="login-btn"
      (click)="onLogin()"
      (keyup.enter)="onLogin()"
      [disabled]="loginForm.invalid"
    >
      Войти
    </button>

    <div class="footer-login">
      <p class="footer-no-account-p">Нет аккаунта?</p>
      <a
        routerLink="/register"
        class="link-register"
      >
        Зарегистрироваться
      </a>
    </div>
  </form>
</div>
